/* -----------------
This place for products swap platform
Author: Rostsin.com
Version 1.0.0
------------------- */

// Project Main Styles
@import "variables";
@import "mixins";

/* Colors variables */
$color_1: #333;
$color_2: #fff;
$color_3: #007bff;
$color_4: white;
$color_5: #666;
$color_6: #f00;
$color_7: #ff6600;
$font-family_1: Arial, sans-serif;
$background-color_1: #f4f4f4;
$background-color_2: rgba(0, 0, 0, 0.7);
$background-color_3: #ff6600;
$background-color_4: #e65c00;
$background-color_5: #fff;
$background-color_6: white;
$background-color_7: #f9f9f9;
$background-color_8: #333;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  font-family: $font-family_1;
  margin: 0;
  padding: 0;
  background-color: $background-color_1;
  color: $color_1;
  position: relative;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
}

h1,
h2 {
  text-align: center;
  color: $color_3;
  padding: 1rem;
}

ul {
  list-style: none;
}

.btn {
  background-color: $background-color_3;
  color: $color_2;
  padding: 12px 25px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s;

  &:hover {
    background-color: $background-color_4;
  }
}

form {
  background-color: $background-color_6;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 2rem auto;

  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }

  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-width: 150px;
  }

  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  button {
    width: 100%;
    padding: 12px;
    background-color: $background-color_3;
    color: $color_4;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;

    &:hover {
      background-color: $background-color_4;
    }
  }

  .add-buttons,
  .edit-buttons {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    button {
      width: auto;
    }

    a.back-btn {
      padding: 12px;
      text-decoration: none;
      border: 1px solid;
      border-radius: 4px;
    }
  }
}

/* ---------- Header styles ---------- */
header {
  background-color: $background-color_2;
  color: $color_2;
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;

  &.is-sticky {
    position: fixed;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    animation: slideDown 0.35s ease-out;

    @keyframes slideDown {
      from {
        transform: translateY(-100%);
      }

      to {
        transform: translateY(0);
      }
    }
  }

  .left-menu,
  .right-menu {
    display: flex;
  }

  nav {
    ul {
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      margin: 0;
      padding: 0;

      li {
        margin: 0 10px;
        background-color: $background-color_6;
        padding: 15px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        a {
          color: $color_3;
          text-decoration: none;
          font-weight: bold;

          &:hover {
          }
        }
      }
    }
  }
}

/* ---------- Hero Section ---------- */
.hero {
  position: relative;
  height: 88vh;
  overflow: hidden;
  width: 100vw;

  .container {
    margin: 0;
    padding: 0;
    max-width: none;
    width: 100%;

    .slider {
      display: flex;
      height: 100%;
      width: 300%;
      transition: transform 1s ease-in-out;

      .slide {
        width: 100vw;
        height: 100vh;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $color_2;
        background-size: cover;
        background-position: center;

        .slide-content {
          text-align: center;
          max-width: 600px;

          h1 {
            font-size: 48px;
            margin-bottom: 20px;
            color: $color_2;
            text-shadow: 0 0 10px black;
          }

          p {
            font-size: 18px;
            margin-bottom: 30px;
          }
        }
      }

      .slide1 {
        background: url("../images/slide1.jpg") no-repeat center center/cover;
      }

      .slide2 {
        background: url("../images/slide2.jpg") no-repeat center center/cover;
      }

      .slide3 {
        background: url("../images/slide3.jpg") no-repeat center center/cover;
      }
    }
  }
}

/* ---------- Slider Navigation ---------- */
.slider-navigation {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  z-index: 10;

  .nav-dot {
    height: 12px;
    width: 12px;
    background-color: $background-color_5;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;

    &.active {
      background-color: $background-color_3;
    }
  }
}

/* ---------- Styles for product list ---------- */
.my-products {
  li {
    &:hover {
      transform: translate(0);
      box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
    }
  }
}

/* ---------- Styles for adding and editing products ---------- */
form.edit-item,
form.add-item {
  background-color: $background-color_6;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 2rem auto;

  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }

  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-width: 150px;
  }

  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  button {
    width: 100%;
    padding: 12px;
    background-color: $background-color_3;
    color: $color_4;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;

    &:hover {
      background-color: $background-color_4;
    }
  }

  .add-buttons,
  .edit-buttons {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    button {
      width: auto;
    }

    a.back-btn {
      padding: 12px;
      text-decoration: none;
      border: 1px solid;
      border-radius: 4px;
    }
  }
}

/* ---------- Styles for the product section ---------- */
.products {
  background-color: $background-color_7;

  h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 40px;
    color: $color_1;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      position: relative;
      display: block;
      background-color: $background-color_5;
      border-radius: 12px;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
      padding: 20px;
      width: calc(33.333% - 20px);
      text-align: center;
      transition: transform 0.3s ease, box-shadow 0.3s ease;

      &:hover {
        transform: translateY(-10px);
        box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
      }

      img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 8px;
        margin: 0;
      }

      h3 {
        font-size: 22px;
        margin: 15px 0;
        color: $color_1;
      }

      p {
        font-size: 16px;
        color: $color_5;
        margin-bottom: 15px;
      }

      a {
        display: inline-block;
        background-color: $background-color_3;
        color: $color_2;
        padding: 12px 20px;
        text-decoration: none;
        font-size: 16px;
        border-radius: 5px;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: $background-color_4;
        }
      }
    }
  }

  @media (max-width: 992px) {
    .items-container {
      li {
        width: calc(50% - 20px);
      }
    }
  }

  @media (max-width: 600px) {
    .items-container {
      li {
        width: 100%;
      }
    }
  }
}

/* ---------- Styles for the personal account page ---------- */
.my-products {
  .my-account {
    h2 {
      text-align: center;
      font-size: 36px;
      margin-bottom: 40px;
      color: $color_1;
    }

    .account-menu {
      padding: 1rem 0;
      margin-bottom: 2rem;

      .add-item {
        a {
          width: 100%;
          padding: 12px;
          color: $color_1;
          background-color: $background-color_3;
          color: $color_2;
          border-radius: 4px;
          font-size: 16px;
          cursor: pointer;
          transition: 0.3s;
          text-decoration: none;
          box-shadow: 0 1px 5px #6d6d6d;

          &:hover {
            background-color: $background-color_4;
            box-shadow: inset 0 0 4px rgba(107, 107, 107, 1);
          }
        }
      }
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {
        position: relative;
        display: block;
        background-color: $background-color_5;
        border-radius: 12px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
        padding: 20px;
        width: calc(33.333% - 20px);
        text-align: center;
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        &:hover {
          transform: translateY(-10px);
          box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
        }

        img {
          width: 100%;
          height: 200px;
          object-fit: cover;
          border-radius: 8px;
          margin: 0;
        }

        h3 {
          font-size: 22px;
          margin: 15px 0;
          color: $color_1;
        }

        p {
          font-size: 16px;
          color: $color_5;
          margin-bottom: 15px;
        }

        a {
          display: inline-block;
          background-color: $background-color_3;
          color: $color_2;
          padding: 12px 20px;
          text-decoration: none;
          font-size: 16px;
          border-radius: 5px;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: $background-color_4;
          }
        }

        .delete-btn {
          background: none;
          border: none;
          cursor: pointer;
          position: absolute;
          top: 10px;
          right: 10px;
          transition: background 0.3s;
          font-size: 1.2rem;
          color: $color_6;

          &:hover {
            background: rgba(255, 0, 0, 0.1);
          }

          i {
            display: block;
          }
        }
      }
    }

    @media (max-width: 992px) {
      .items-container {
        li {
          width: calc(50% - 20px);
        }
      }
    }

    @media (max-width: 600px) {
      .items-container {
        li {
          width: 100%;
        }
      }
    }
  }
}

/* ---------- Footer Styles ---------- */
footer {
  background-color: $background-color_8;
  color: $color_2;
  text-align: center;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  width: 100%;
  overflow: hidden;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;

    .footer-columns {
      .language-select {
        .language-dropdown {
          cursor: pointer;
          text-decoration: none;
          font-weight: bold;
          color: $color_2;
          text-decoration: underline;
          border-radius: 5px;
          &:hover {
            background-color: #ddd;
          }
        }

        .dropdown-content {
          display: none;
          /*position: absolute;*/
          background-color: $background-color_1;
          box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
          z-index: 1;
          list-style-type: none;
          padding: 10px 0;
          margin: 0;
          border-radius: 5px;

          li {
            padding: 10px 15px;

            a {
              text-decoration: none;
              color: #333;
              &:hover {
                background-color: #ddd;
              }
            }
          }
        }

        &:hover .dropdown-content {
          display: block;
        }
      }
    }
  }

  .socials {
    display: flex;
    padding: 0.5rem 1rem;

    a {
      color: $color_2;
      text-decoration: none;
      margin: 0 10px;

      &:hover {
        color: $color_7;
      }
    }
  }
}
